#chat-container {
  max-height: 400px;
  overflow-y: auto;
}
.comentario {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 8px;
}
.comentario-admin {
  background-color: #d1e7dd;
}
/* Estrelas vazias */
.estrelas {
  cursor: pointer;
  font-size: 2.5rem; /* aumenta o tamanho */
  color: #ccc; /* cinza claro para estrelas vazias */
  transition: color 0.2s;
}

/* Estrelas selecionadas */
.estrelas.checked,
.estrelas:hover,
.estrelas:hover ~ .estrelas {
  color: gold; /* dourado */
}

/* Apenas para melhorar o hover individual */
.estrelas:hover {
  color: gold;
}
