.card {
      max-width: 600px;
      margin: 0 auto;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .icon-check {
      color: #28a745;
      font-size: 2rem;
    }

    .loading {
      text-align: center;
      color: #6c757d;
    }

    .list-group-item {
      text-align: justify;
      display: flex;
      justify-content: space-between;
    }

    .list-group-item strong {
      margin-right: 15px;
      flex-shrink: 0;
    }
